nav.header__nav
  ul.header__nav-list
    li.header__list-item
      a(class=registerLinkClass || `header__registration`, href=`/register`) Регистрация
    li.header__list-item
      a(class=loginLinkClass || `header__enter`, style=`margin: 0 18px`, href=`/login`) Вход с паролем
