extends ../layout

block main
  main.articles-category
    h1 #{activeCategory.title}

    if articles.length
      section.articles-category__theme-list
        include ../partials/categories-list

      include ../partials/previews-list
    else
      .main-page__empty-wrapper
        p.main-page__empty-text Здесь пока пусто!
