extends ../layout

block main
  main
    h1.visually-hidden Регистрация пользователя
    section
      .popup.popup--registration.popup--anti
        h2.popup__title Войти
        .popup__form.form.form--log-in
          form(action=`/login`, method=`POST`)
            .form__field
              label
                input(name=`email`, type=`email`, maxlength=MaxValue.EMAIL, placeholder=`Электронная почта`, required=``, value=payload.email)
            .form__field
              label
                input(name=`password`, type=`password`, minlength=MinValue.PASSWORD, maxlength=MaxValue.PASSWORD, placeholder=`Пароль`, required=``)
            +errorMessage(errors)
            button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type=`submit`) Войти

block scripts
  script(src=`/js/main.js`)
